---

---

<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- <script src="../scripts/websiteHandler.js"></script> -->
        <script src="../scripts/main.js"></script>
        <title>Dailys</title>
    </head>
    <body class="bg-black">
      <div class="screen absolute w-full h-full grid grid-rows-auto-grid-rows grid-cols-auto-grid-cols overflow-hidden transition-all duration-300">
        <div class="bg-yellow w-[100%] flex flex-row col-span-3">
          <h1 class="font-bold text-[50px] ml-3 italic">Dailys</h1>
          <h6 class="self-end pb-[2px] pl-[7px] italic text-nowrap"><p>by [ash]</p></h6>
          <button class="bg-black rounded-lg h-8 w-40 self-center ml-5" id="resetLC"><p class="text-white">Reset Local Storage</p></button>
          <button class="bg-black rounded-lg h-8 w-40 self-center ml-5" id="add10"><p class="text-white">Add 10</p></button>
        </div>
  
        <button class="absolute top-[5.5rem] translate-x-2">
          <div class="w-10 h-10 rounded-full -translate-x-1 -translate-y-1 bg-white opacity-0 hover:opacity-20 transition-opacity duration-200 absolute"></div>
          <img class="w-8 h-8" src="/list.svg" alt="list">
        </button>
  
        <div class="bg-true-black w-[100%] h-[5px] col-span-3"></div>
        <div class="col-span-3 flex flex-row">
          <div class="w-[40%] max-w-[300px] h-full bg-purple flex flex-col" id="navbar-bg">
            <h2 class="text-center text-white text-2xl py-2">List</h2>
            <div class="bg-true-black w-full h-[5px]"></div>
            <div class="pt-[10%] h-full" >
              <div class="flex flex-col items-center gap-2 overflow-y-auto" id="website-list">
                <div class="draggable w-[90%] h-10 relative bg-light-purple rounded-lg border-2 border-true-black hover:border-white cursor-pointer" 
                draggable="true"
                >
                  <button type="button" class="mainButton w-full h-full" onclick="" id="https://globle-game.com/">
                    <p class="text-center text-white">G</p>
                  </button>
                  <div class="options absolute top-1/2 -translate-y-2.5 right-2 opacity-0 transition-opacity duration-50">
                      <button type="button" class="button link w-5 mx-1 hover:scale-125 transition-all duration-100">
                        <img src="/link-out.svg" alt="link">
                        <div class="button-bg absolute -translate-x-1 -translate-y-6 w-7 h-7 rounded-full opacity-0 bg-white"></div>
                      </button>
                      <button type="button" class="button delete w-5 hover:scale-125">
                        <img src="/trash.svg" alt="delete">
                        <div class="button-bg absolute -translate-x-1 -translate-y-6 w-7 h-7 rounded-full opacity-0 bg-white"></div>
                      </button>
                  </div>
                </div>
                <div class="mt-3 ml-3 w-10 h-10 addButtonDiv">
                  <button class="addButton scale-100 hover:scale-125 transition-transform duration-100">
                    <div class="w-8 h-8 rounded-full -translate-x-1 -translate-y-1 bg-white opacity-0 hover:opacity-20 absolute"></div>
                    <img class="w-6 h-6" src="/plus-circle.svg" alt="Add">
                  </button>
                </div>
              </div>
              
            </div>
          </div>
          <div class="w-[5px] h-full bg-true-black"></div>
          <div class="w-full h-full bg-black"></div>
        </div>
      </div>

      <div class="addWebsite opacity-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[40%] h-[40%] bg-purple rounded-lg border-4 transition-all duration-1000">
        <div>
          <p class="text-white text-center text-4xl mt-2">Add Website</p>
          <div class="bg-true-black w-full h-[4px] mt-2"></div>
        </div>
        <div class="absolute top-9 flex flex-col w-full h-full justify-center items-center gap-5">
          <input type="text" 
          class="rounded-md bg-light-purple h-7 placeholder:text-white outline-none text-white pl-2 font-medium"
          id="nameInput"
          placeholder="Enter name"
          autofocus="true"
          spellcheck="false"
          maxlength="20"
          >
          <input type="text" 
          class="rounded-md bg-light-purple h-7 placeholder:text-white outline-none text-white pl-2 font-medium"
          id="websiteInput"
          placeholder="Enter website"
          spellcheck="false"
          >
          <button type="button" id="doneButton" class=" mt-3 py-1 px-5 text-center text-white font-medium rounded-lg bg-light-purple border-true-black hover:border-white border-2">
            Done
          </button>
        </div>
      </div>
    </body>
</html>