---

---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="../scripts/websiteHandler.js"></script>
    <title>Dailys</title>
  </head>
  <body class="bg-[#453DDB]">
    <div class="w-full h-full absolute transition-all duration-300 ease-in-out" id="blur">
      <div class="bg-[#ffff00] flex flex-row w-full">
        <h1 class="font-bold text-[50px] ml-3 italic">Dailys</h1>
        <h6 class="self-end pb-[1px] pl-[7px] italic"><p>by Ash</p></h6>
      </div>
      <div class="bg-black w-full h-1"></div>
      <div
        class="flex flex-col justify-center items-center text-center gap-2 pt-[10%]"
        id="WebsiteList"
      >
        <div
          class="w-[40%] h-10 bg-indigo-900 rounded-lg relative border-[2px] shadow-xl border-black hidden"
          draggable="true"
        >
          <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          >
            <p class="text-center text-gray-200">Globle</p>
          </div>
          <div class="absolute top-1/2 -translate-y-1/2 flex items-center right-2 trash opacity-0 transition-opacity duration-300 ease-in-out" >
            <div class="relative cursor-pointer butt">
              <button
              type="button"
              class="rounded-full bg-cover bg-center border-none cursor-pointer flex items-center button"
            >
            <img class="w-6 h-6 "src="/trash3white.svg" alt="delete"></img>
            </button>
            <div
              class="h-9 w-9 rounded-full opacity-0 hover:opacity-20 bg-gray-400 absolute top-1/2 -translate-y-1/2 -translate-x-1.5 -z-10 button-bg"
            >
            </div>
            </div>
          </div>
        </div>
        <div
          class="w-[40%] h-10 bg-indigo-900 rounded-lg relative border-[2px] shadow-xl border-black draggable"
          draggable="true"
        >
          <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          >
            <p class="text-center text-gray-200">Globle</p>
          </div>
          <div class="absolute top-1/2 -translate-y-1/2 flex items-center right-2 trash opacity-0 transition-opacity duration-300 ease-in-out hover:scale-[1.1]" >
            <div class="relative cursor-pointer butt">
              <button
              type="button"
              class="rounded-full bg-cover bg-center border-none cursor-pointer flex items-center button"
            >
            <img class="w-6 h-6 "src="/trash3white.svg" alt="delete"></img>
            </button>
            <div
              class="h-9 w-9 rounded-full opacity-0 hover:opacity-20 bg-gray-400 absolute top-1/2 -translate-y-1/2 -translate-x-1.5 -z-10 button-bg"
            >
            </div>
            </div>
          </div>
        </div>
        <div
          class="w-[40%] h-10 bg-indigo-900 rounded-lg relative border-[2px] shadow-xl border-black draggable"
          draggable="true"
        >
          <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          >
            <p class="text-center text-gray-200">Travle</p>
          </div>
          <div class="absolute top-1/2 -translate-y-1/2 flex items-center right-2 trash opacity-0 transition-opacity duration-300 ease-in-out hover:scale-[1.1]" >
            <div class="relative cursor-pointer butt">
              <button
              type="button"
              class="rounded-full bg-cover bg-center border-none cursor-pointer flex items-center button" 
            >
            <img class="w-6 h-6 "src="/trash3white.svg" alt="delete"></img>
            </button>
            <div
              class="h-9 w-9 rounded-full opacity-0 hover:opacity-20 bg-gray-400 absolute top-1/2 -translate-y-1/2 -translate-x-1.5 -z-10 button-bg"
            >
            </div>
            </div>
          </div>
        </div>
        <div
          class="w-[40%] h-10 bg-indigo-900 rounded-lg relative border-[2px] shadow-xl border-black draggable"
          draggable="true"
        >
          <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          >
            <p class="text-center text-gray-200">Wordle</p>
          </div>
          <div class="absolute top-1/2 -translate-y-1/2 flex items-center right-2 trash opacity-0 transition-all duration-300 ease-in-out hover:scale-[1.1]" >
            <div class="relative cursor-pointer butt">
              <button
              type="button"
              class="rounded-full bg-cover bg-center border-none cursor-pointer flex items-center delete button"
              >
                <img class="w-6 h-6 "src="/trash3white.svg" alt="delete"></img>
              </button>
              <div
              class="h-9 w-9 rounded-full opacity-0 bg-gray-400 absolute top-1/2 -translate-y-1/2 -translate-x-1.5 -z-10 button-bg"
              >
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="w-[40%] h-10 relative cursor-pointer addButton"
        >
        <div class="w-full h-full bg-[#645de1] transition-opacity duration-300 ease-in-out border-white border-[2px] rounded-lg opacity-0 hover:opacity-100"></div>
          <div
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
          >
            <img src="plus-circle.svg" alt="Add" class="w-6 h-6">
          </div>
        </button>
      </div>
    </div>

    <div
      class="w-[50%] h-[35%] max-w-[400px] max-h-[250px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-indigo-950 absolute rounded-xl border-4 border-black
    flex flex-col items-center opacity-0 transition-opacity duration-[500ms] ease-in-out hidden " id="addWebsite"
    >
    <div class="bg-indigo-900 w-full rounded-xl relative">
      <p
        class="text-white text-center text-4xl py-2 "
      >
        Add Website
      </p>
      <div class="absolute top-1/2 -translate-y-1/2 flex items-center right-2 opacity-100 transition-all duration-300 ease-in-out hover:scale-[1.1] cursor-pointer" >
        <div class="relative cursor-pointer butt">
          <button
          type="button"
          class="rounded-full bg-cover bg-center border-none cursor-pointer flex items-center button"
          id="addWebsiteClose"
          >
            <img class="w-6 h-6"src="/x.svg" alt="Close"></img>
          </button>
          <div
          class="h-9 w-9 rounded-full opacity-0 hover:opacity-20 bg-gray-400 absolute top-1/2 -translate-y-1/2 -translate-x-1.5 -z-10 button-bg"
          >
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-[80%] max-w-[200px] absolute top-[40%]">
      <!-- <p class="text-white text-md">Name</p> -->
      <!-- <div class=""></div> -->
      <input
        type="text"
        class="rounded-sm bg-indigo-500 h-7 placeholder:text-white outline-none text-white pl-1 font-medium"
        id="nameInput"
        placeholder="Enter name"
        autofocus="true"
        spellcheck="false"
        maxlength="20"
      />
      <!-- <p class="text-white text-md pt-3">Website</p> -->
      <!-- <div class=""></div> -->
      <input
        type="text"
        class="rounded-sm bg-indigo-500 h-7 placeholder:text-white outline-none pl-1 text-white font-medium mt-5"
        id="websiteInput"
        placeholder="Enter website"
        spellcheck="false"
      />
    </div>
    </div>
  </body>
</html>
